# Exemplo de configuração - Preencha com seus dados reais no arquivo .env na hora de executar.
SECRET_KEY=coloque_uma_chave_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=mysql+pymysql://user:password@host/dbname
